<% provide(:title, "About") %>
<div class="center jumbotron">
  <h1>What is Organic Table?</h1>

  <h2>
    Organic Tableはオーガニックの食材を使ったレストランが簡単に見つかるグルメサイトです。
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

<%= image_tag("vegetable.jpg", alt: "vegetables", width: "200px") %>